celery~=5.5.3
redis~=6.4.0
scapy~=2.6.1
flower
pyshark~=0.6
psutil~=7.1.0
fastapi~=0.119.0
uvicorn[standard]
pydantic~=2.12.2
user_agents~=2.2.0
device-detector
requests~=2.32.5
Flask~=3.1.2
device_detector~=5.0.1
beautifulsoup4~=4.14.2
dpkt~=1.9.8
device_detector~=5.0.1
concurrent-log-handler
pyftpdlib~=2.1.0
device_detector~=5.0.1